# Pandas - Join Data

## 1. Inner join - match values in both tables

In [1]:
# df1.merge(df2, on = 'col')  -> inner join on column
# df1.merge(df2, on = 'col', suffixes=('_df1','_df2')) -> rename the columns that have same name

## 2. One to many

In [2]:
# every row in left table is related to 
# one or more rows in right table

## 3. Mergeing multiple tables

In [4]:
# merge two tables by 2 columns:
# df1.merge(df2, on=['col1','col2'])
# merge 3 tables:
# df1.merge(df2,on=['col1','col2'])\.merge(df3,on='col3',suffixes=('_sf1','_sf2'))

## 4. Left join

In [6]:
# columns from right attached to left if left has it in common columns

In [7]:
# d1.merge(df2,on='col',how='left')

In [8]:
# df1['col'].isnull().sum() -> count number of missing values in col

## 5. Other join

In [9]:
# Right Join
# columns from right attached to right with common column but differnt names

In [10]:
# df1.merge(df2,how='right',left_on='col1',right_on='col2')

In [11]:
# Outer Join
# combine all columns from both tables

In [16]:
# df1.merge(df2,on='col',how='outer',suffixes=('_left','_right'))

## 6. Self join

In [13]:
# df.merge(df,left_on='col',right_on='col2',suffixes=('_suf1','_suf2')

## 7. Merge on indexes

In [14]:
# merge on index column(s)
# df1.merge(df2,....left_index=True,right_index=True)

## Advanced Merge

## 1. Semi Join

In [17]:
# inner join, but only columns from left table is shown

In [18]:
# Step 1:
# inner_join = df1.merge(df2,on='col')
# Step 2:
# semi_join = df1[df1['col'].isin(inner_join['col'])]

## 2. Anti join

In [19]:
# left table without interactions
# left table columns only

In [20]:
# Step 1:
# left_join.merge(df2,on='col',how='left',indicator=True) -> indicator will show how two columns merge
# Step 2:
# b = left_join.loc[left_join['_merge']=='left only','col']
# anti_join = df1[df1['col'].isin(b)]

## 3. Concatenate tables vertically

In [21]:
# tables have same column names
# pd.concat([df1,df2,df3], ignore_index=True) -> index go from 0 to n-1
# pd.concat([df1,df2,df3],keys=['key1','key2','key3']) -> concat based on keys

In [22]:
# table have different columns
# pd.concat([df1,df2],sort=True) -> combine based on sort of columns (alphabatically)
# pd.concat([df1,df2],join='inner') -> join only same name columns

In [ ]:
# default: join=outer

In [23]:
# append method (does not support keys and join)
# by default: join=outer
# df1.append([df2,df3],ignore_index=True,sort=True)

## Verify the relationship

In [24]:
# to make sure it is correct join relationship

In [26]:
# for merging:
# df1.merge(df2,on='col',validate='one_to_one') -> check if one-to-one
# df1.merge(df2,on='col',validate='one_to_many') -> check if one-to-many

In [27]:
# for concat:
# pd.concat([df1,df2],verify_integrity=True) -> error if duplicate occurs

## 4. Merge in order

In [ ]:
# use when:
# 1.ordered data/time series
# 2.fill in missing values

In [28]:
# default join is outer (remember the default for merge is inner)

In [29]:
# pd.merge_ordered(df1,df2)

In [30]:
# Foward fill: fill missing values with previous value
# ....(.., fill_method='ffill')

In [31]:
# df.corr() -> show correlation matrix of two variables

## 5. Merge_asof()

In [ ]:
# when to use:
# 1.data sampled from a process
# 2.devolep a training set(do not want data lekage)

In [ ]:
# similar to merge_ordered()
# but always left join
# match the nearest key column, not exact matches

In [33]:
# pd.merge_asof(df1,df2,on='col',direction='forward') -> greater than or equal to the nearest key column
# pd.merge_asof(df1,df2,on='col') - > default direction is backward: less than
# pd.merge_asof(df1,df2,on='col',direction='nearest') -> regardless of less or greater

## 6. .query()method

In [34]:
# similar to SQL's where clause

In [35]:
# df.query('col2 > 90') -> returns all rows where col2 > 90
# df.query('col2 > 90 and col1 < 60')
# df.query('col1 > 80 or col1 < 90')
# df.query('col1=="abc" or (col1=="cba" and col2 < 80)')

## 7. melt() method

In [36]:
# change wide table to long table
# i.e., some columns become attributes
# to be more computer-friendly

In [ ]:
# df.melt(id_vars=['col1','col2']) -> columns do not want to change
# df.melt(id_vars=['col1','col2'],value_vars=['col3','col4']) -> to contain only col3 and col4 as changed columns

# df.melt(id_vars=['col1','col2'],value_vars=['col3','col4'],var_name=['changed_column_name',value_name='value_name']) -> add new column names